<% @apps.result.first(20).each do |app| %>
	<div>
		<h4>App Name: <%= link_to app[:title], app_details_path(app_id: app[:store_url].split('?id=')[1], image: app[:icon_url]) %></h4>
		<%= image_tag(app[:icon_url], size: '100x100') %><br/>
		<strong> Rating : <%= app[:stars]%> </strong> , <strong> App URL : <%= app[:store_url] %> </strong>
		 <hr/>
	</div>
<% end %>