<div>
	<h4>App Name: <%= @app.title %> </h4>

	<%= image_tag(@image) %> <br/><br/>

	<strong>Rating : <%= @app.rating %></strong><br/><br/>

	<strong> Description :</strong> <br/><%= @app.description.html_safe %> <hr/>

	<strong>Reviews: <%= @app.reviews.count %> </strong><br/>

		<% @app.reviews.each do |review| %>
			<strong>Author: <%= review[:author] %>, Rating: <%= review[:score] %> </strong><br/>, 
			<strong>Title: </strong><%= review[:title] %><br/>,
			<strong>Comment: </strong><%= review[:text] %> <hr/>
		<% end %>
</div>