<!DOCTYPE html>
<html>
<head>
  <title>Scraper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h3>Google Play Store</h3>
	<%= yield %>

</body>
</html>
